{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
    <h1>Карточка птицы</h1>
    <div class="bird_card">
        <div class="bird_info">
            <h3>Имя птицы: {{ k1 }}</h3>
            <h3>Вид птицы: {{ k2 }}</h3>
            <h3>Возраст: {{ k3 }}</h3>
            <p><b>Описание окраса: </b>{{ k4 }}</p>
            <p><b>Любимая еда: </b> {{ k5 }}</p>
        </div>
        <img src="{% static k6 %}">
    </div>
    <a href="{% url 'home' %}">Назад</a>
</body>
</html>